{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bienvenue dans l'administration de UBeer</h5>
                    <p class="card-text">Utilisez le menu de gauche pour gérer votre site.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
